/* Basic styles for <a> and <ul> elements */
a {
    text-decoration: none;
}

h1, h2 {
    text-align: center;
}

ul {
    list-style-type: none;
}

/* Ensure the page takes up the full height */
html, body {
    height: 100%;
    margin: 0;
}

/* Flex container for the body content */
body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* Ensure the main content wrapper takes up the available space */
#content-wrapper {
    flex: 1;
    display: flex;
    justify-content: space-between; /* Ensure space between side menu and content */
    margin: 20px 15%; /* 15% margin on the left and right side */
    align-items: stretch; /* Stretch to fill height */
}

/* Banner styles */
#banner {
    display: flex;
    align-items: center;
    background-color: #f8f8f8;
    padding: 20px;
    border-bottom: 1px solid #ccc;
    margin: 0 15%; /* 15% margin on the left and right side */
}

#banner #logo {
    height: 80px; /* Set the desired height */
    margin-right: 20px; /* Space between the logo and text */
}

#banner #banner-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#banner h1 {
    margin: 0;
    font-size: 24px;
    font-weight: bold;
}

#banner h2 {
    margin: 0;
    font-size: 18px;
    font-weight: normal;
}

/* Side menu styles */
#side-menu {
    width: 200px;
    border-right: 1px solid #ccc; /* Add vertical line */
    padding-right: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

#content {
    flex: 1; /* Take up the remaining space */
    margin-left: 20px;
    display: flex;
    align-items: flex-start;
}

#image-display {
    max-width: 300px;
}

#image-display img {
    display: block;
    max-width: 100%;
    height: auto;
}

/* Thumbnails grid styles */
.thumbnails-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr); /* 5 columns grid */
    gap: 10px; /* Space between thumbnails */
}

.thumbnail {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.thumbnail img {
    max-width: 100px; /* Adjust the size as needed */
    height: auto;
    margin-bottom: 5px;
    transition: transform 0.3s; /* Smooth transition for the zoom effect */
}

/* Zoom effect on hover */
.thumbnail img:hover {
    transform: scale(1.5); /* Zoom in on hover */
}

.thumbnail p {
    margin: 0;
    text-align: center;
}

/* Footer styles */
#footer {
    text-align: center;
    padding: 20px 0;
    background-color: #f8f8f8;
    border-top: 1px solid #ccc;
}

#footer p {
    margin: 0;
    font-size: 16px;
}
